.banner-image {
    margin-left: -20px;
    margin-right: -185px;
}

.pointer-event-none {
  pointer-events: none;
}

.logo {
  width: 60px;
  height: 50px;
  padding-right: 0.5rem;
}

.is-auto {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.is-purple {
  color: purple;
}

.alert {
  color: white;
  padding: 5px;
  margin: 5px 0 15px 0;
  text-align: center;
  font-size: 1.2rem;
  padding: .5rem 1rem;
}

.alert-success {
  background-color: rgba(0, 255, 0, .8);
}

.alert-danger,
.alert-error {
  background-color: rgba(255, 0, 0, .8);
}

.impacts {
  margin-top: 1rem;
}

.is-hidden {
  display: none;
}